<header class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-body border-bottom shadow-sm">
  <p class="h5 my-0 me-md-auto fw-normal">
    <a href="javascript:void(0)" class="p-1 text-decoration-none">
      Frontend
    </a>
    <a href="javascript:void(0)" class="p-1 text-decoration-none">
      Backend
    </a>
  </p>

  <ng-container *ngIf="!user; else content">
    <a class="btn btn-outline-primary" href="#" routerLink="/login">Login</a>
    <a class="btn btn-outline-primary" href="#" routerLink="/register">Sign Up</a>
  </ng-container>
  <ng-template #content>
    <a title="Profile" class="btn btn-outline-primary" href="#" routerLink="/profile">
      <fa-icon [icon]="profileIcon"></fa-icon>
      {{user?.first_name}} {{user?.last_name}}
    </a>
    <a title="Logout" class="btn btn-outline-primary" href="#" routerLink="/profile" (click)="logout()">
      <fa-icon [icon]="logoutIcon"></fa-icon>
    </a>
  </ng-template>
</header>
